.picture {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
  }
  
.bio-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

body {
  background-color: black;
  font-family: roc-grotesk, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
}

h2{
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4vw;
}

p{
  letter-spacing: .05rem;
  line-height: 1.15rem;
}